<h1>List Articles</h1>

<ul>
<% @articles.each do |article| %>
  <li>
    <h3><%= article.title %></h3>
    <p><%= article.text %></p>
    <p>
      <%= link_to 'show', article %> |
      <%= link_to 'edit', [:edit, article] %> |
      <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </li>
<% end %>
</ul>

<%= link_to 'New Article', new_article_path %>